################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Warehouse robot/.vs/Warehouse robot/v16
/Warehouse robot/__vm
